/* стили шапки */
#header {
        border:1px solid;
        border-color:red;
        border-bottom-color:rgba(0,0,0,0.2);
        border-top:none;
        background:red;
        background:-webkit-linear-gradient(top, #f7f7f7, #f4f4f4);
        background:-moz-linear-gradient(top, #f7f7f7, #f4f4f4);
        background:-o-linear-gradient(top, #f7f7f7, #f4f4f4);
        background:linear-gradient(to bottom, #f7f7f7, #f4f4f4);
        background-clip:padding-box;
        border-radius:0 0 5px 5px;
        margin: auto;
        position: relative;
        width: 1000px;
}