header{
    /* Включаем режим Flexbox. */
    /*	display: flex; */

    /*
         Распределяем элементы внутри шапки
        justify-content: space-between;
    */

    /* Выравниваем элементы вертикально по центру. */
    align-items: center;

    background-color: #222;

    height:12%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;

}
div.container{
    min-height: 71%;
}
a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

#top-menu{
    width: 100%;
    /*text-align: right;*/
    /*background-color: black;*/
    /*color: black;*/


}
.menu{
    color: white;
}
.menu-list li{
    display: inline;
    /*padding: 10px;*/


}
.menu-list{
    /*margin-right: 400px;*/
    /*    padding-right: 100px;*/

}
#big-logo{
    text-align: center;
    /*padding-left: 100px;*/
        /*padding: 10px;*/
}